*{
    margin: 0;
    padding: 0;
}

.root{
    position: fixed;
    top: 17%;
    right: 0%;
    padding: 0 40px;
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}

.row{
    display: flex;
    align-items: start;
}

.rel{
    position: relative;
}

.firsteye{
    background-image: url(images/eye.png);
    width: 70px;
    height: 40px;
    background-size: 70px;
    opacity: 1;
    transition: all .5s ease-in-out;
    margin-top: -5px;
    cursor: pointer;
}


.inp{
    transform: rotate(270deg);
    position: absolute;
    right: -0.8%;
    top: 80%;
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

.inpHide{
    transform: rotate(270deg);
    position: absolute;
    right: -0.8%;
    top: 80%;
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}

@media only screen and (max-width: 800px){
    .inp, .inpHide{
        right: -2%;
    }
}

@media only screen and (max-width: 515px){
    .inp, .inpHide{
        right: -7%;
    }
}

@media only screen and (max-width: 450px){
    .inp, .inpHide{
        right: -9%;
    }
}

.inp[type=range], .inpHide[type=range] {
    margin: 10px 0;
    background: transparent;
    border: 1px solid #fff;
    -webkit-appearance: none;
    border-radius: 50px;
    overflow-y: hidden;
}
  .inp[type=range]:focus, .inpHide[type=range]:focus {
    background: transparent;
    border: 1px solid #fff;
}
  .inp[type=range]::-webkit-slider-runnable-track, .inpHide[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-radius: 5px;
    outline: none;
    border: 1px solid transparent;
  }
  .inp[type=range]::-webkit-slider-thumb, .inpHide[type=range]::-webkit-slider-thumb {
    height: 30px;
    width: 12px;
    border-radius: 3px;
    background: #333;
    cursor: pointer;
    -webkit-appearance: none;
    position: relative;
    box-shadow: -107px 0px 0px 100px whitesmoke; 
    margin-top: -11px;
    opacity: .8;
    &:hover{
        opacity: 1;
    }
  }
  .inp[type=range]:focus::-webkit-slider-runnable-track, .inpHide[type=range]:focus::-webkit-slider-runnable-track {
    background: transparent;
  
}

.firsteyeHide{
    opacity: 0;
    transition: all .5s ease-in-out;
}



.eye, .eye2, .eye3, .eye4, .eye5, .eye6, .eye7, .eye8, .eye9, .eye10{
    position: absolute;
    top: 40%;
    left: 50%;
    background-image: url(images/eye.png);
    width: 100px;
    transform: translateX(-50%);
    background-size: 100px;
    height: 58px;
    transition-duration: 1.5s;
}

.eye{
    background-position-y: 0;
    opacity: 1;
}
.eye10{
    background-position-y: -810px;
    opacity: 0;
}

.lang{
    h2{
        cursor: pointer;
        font-size: 14px;
        margin-right: 10px;
        border: 1px solid #fff;
        padding: 5px;
        border-radius: 3px;
        color: #FFF;
        font-weight: normal;
        margin-top: -3px;
    }
}

.volume, .volume1, .volume2, .volume3{
    width: 25px;
    height: 19px;
    background-image: url(images/volume2.png);
    background-repeat: no-repeat;
    background-position-y: 0px;
    opacity: 0.8;
    cursor: pointer;
    &:hover{
        opacity: 1;
    }
}

.volume1{
    background-position-y: 0;
}

.volume2{
    background-position-y: -18px;
}

.volume3{
    background-position-y: -36px;
}

.volume3{
    background-position-y: -54px;
}


.bellVisible{
    opacity: 1;
    visibility: visible;
    transition: all .5s ease-in-out;
}

.bellHidden{
    opacity: 0;
    visibility: hidden;
    transition: all .5s ease-in-out;
}


.bellgroup{
    margin-right: 10px;
}

.bell1, .bell2, .bell3{
    background-image: url(images/bellicons.png);
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.8;
    &:hover{
        opacity: 1;
    }
}

.bell1{
    background-position-y: 0px;
}

.bell2{
    background-position-y: -35px;
}

.bell3{
    background-position-y: -67px;
    margin-bottom: 7px;
}

@media only screen and (max-width: 750px){
 
    .root{
        top: 12%;
    }

    
}

@media only screen and (max-width: 515px){
    .root{
        padding: 0 20px;
    }
    .firsteye{
        background-image: url(images/eye.png);
        width: 50px;
        height: 29px;
        background-size: 50px;
        opacity: 1;
        transition: all .5s ease-in-out;
        margin-top: -5px;
    }   
    .volume, .volume1, .volume2, .volume3{
        width: 20px;
        height: 16px;
        background-size: 20px;        
    }
    .volume1{
        background-position-y: 0;
    }
    .volume2{
        background-position-y: -15px;
    }
    .volume3{
        background-position-y: -45px;
    }
    .volume4{
        background-position-y: -30px;
    }
    .bell1, .bell2, .bell3{
        background-image: url(images/bellicons.png);
        width: 20px;
        height: 25px;
        cursor: pointer;
        margin-bottom: 10px;
        background-size: 20px;
        opacity: 0.8;
        &:hover{
            opacity: 1;
        }
    }
    
    .bell1{
        background-position-y: 0px;
    }
    
    .bell2{
        background-position-y: -30px;
    }
    
    .bell3{
        background-position-y: -55px;
        margin-bottom: 7px;
    }
    .lang{
        h2{
            cursor: pointer;
            font-size: 10px;
            margin-right: 10px;
            border: 1px solid #fff;
            padding: 5px;
            border-radius: 3px;
            color: #FFF;
            font-weight: normal;
            margin-top: -3px;
        }
    }
}